@media screen and (max-width: 800px) {
.contacts .container {
  max-width: 560px;
}

  
.course.first {
  float: none;
}
  
.course.second {
  float: none;
  margin-right: 20px;
  margin-top: 40px;
}
.course.third {
  float: none;
  /*margin-top: 70px;*/
}
.course.fourth {
  float: none;
  /*margin-top: 70px;*/
  margin-right: 20px;
}

.courses .container {
  width: 420px;
}

.right {
  float: none;
  width: 320px;
}

}